#################
# EXPORTED
#################

export(
  mvmeta, mvmeta.fit,
  mvmeta.fixed, mvmeta.ml, mvmeta.reml,
  mvmeta.ml.fn, mvmeta.ml.gr, mvmeta.reml.fn, mvmeta.reml.gr,
  mvmeta.igls,
  mvmeta.control,
  summary.mvmeta,
  print.mvmeta, print.summary.mvmeta,
  predict.mvmeta, 
  blup, blup.mvmeta,
  qtest, qtest.mvmeta, print.qtest.mvmeta,
  logLik.mvmeta,
  coef.mvmeta, vcov.mvmeta,
  model.frame.mvmeta, model.matrix.mvmeta,
  na.omit.data.frame.mvmeta, na.exclude.data.frame.mvmeta,
  vechMat, xpndMat
)


#################
# NOT EXPORTED
#################
#
# extractAIC, nobs.mvmeta


#################
# INTERNAL
#################
#
# .onAttach
# .gls, .mkS, .gradchol.ml, .gradchol.reml
# .logMat, .expMat .sumlist


#################
# IMPORTED
#################

import(stats, graphics, grDevices)
importFrom(utils, packageDescription)


#################
# METHODS
#################

S3method(blup, mvmeta)
S3method(coef, mvmeta)
S3method(logLik, mvmeta)
S3method(model.frame, mvmeta)
S3method(model.matrix, mvmeta)
S3method(nobs, mvmeta)
S3method(predict, mvmeta)
S3method(print, mvmeta)
S3method(qtest, mvmeta)
S3method(summary, mvmeta)
S3method(vcov, mvmeta)

S3method(print, summary.mvmeta)
S3method(print, qtest.mvmeta)
S3method(na.omit, data.frame.mvmeta)
S3method(na.exclude, data.frame.mvmeta)
